input {
  border-radius: 16px;
  border: none;
  padding: 6px 16px;
  outline: none;
}

button {
  border-radius: 16px;
  border: none;
  padding: 4px 16px;
}

button:hover {
  background-color: #ff7fff;
  color: #fff;
  cursor: pointer;
}

li {
  margin-right: 8px;
}

h1 {
  text-align: center;
}

#flex-container {
  display: flex;
  justify-content: center;
}

#grid-container {
  display: grid;
  grid-template:
    "................... input                ..................." 55px
    "................... message              ..................." auto
    "incomplete          incomplete           incomplete         " auto
    "complete            complete             complete           " auto
    / minmax(0px, 100px) minmax(300px, 500px) minmax(0px, 100px);
}
